<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/CollegeFinder.styles.css" asp-append-version="true" />*@

    <!-- Icons -->
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

</head>
<body>

    <div class="container-fluid p-0">
        <main role="main" class="">
            <div class="col-lg-12">
                <section>
                    <a asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-left-circle login-to-home"></i></a>
                    <div class="container">
                        @RenderBody()
                    </div>
                </section>
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

