@{
    Layout = "_Layout_Admin";
}

<div class="container-fluid">
    <div class="col-12">
        <!-- College Counts -->
        <div class="row">
            <div class="col-lg-4 total-college-count">
                <div class="ag-courses_item shadow">
                    <a asp-area="" asp-controller="" asp-action="" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="row">
                            <div class="col-lg-12 ag-courses-item_title">Total Colleges</div>
                            <div class="col-lg-12 ag-courses-item_count-box">
                                <span class="ag-courses-item_count">0841</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-8 stream_wise-college-count"></div>
        </div>
        <!-- End College Counts -->
    </div>
</div>

  